body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 20px;
}

.login-text {
  border-radius: 5px;
  font-size: large;
  margin: auto;
  padding: 10px;
  width: 500px;
}

.login-button {
  background-color: rgb(239, 241, 241);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(178, 180, 180);
  color: rgb(58, 210, 136);
  font-size: x-large;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.login-button:hover {
  background-color: rgb(10, 118, 79);
  color: white;
}

.username {
  background-color: rgb(239, 241, 241);
  box-shadow: 0 3px 3px rgb(178, 180, 180);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}


.div-user {
  align-items: center;
  background-color: rgb(3, 52, 45);
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;
}

.douglas {
  background-color: white;
  border-radius: 15px;
  margin-right: 35px;
  padding: 12px;
}

.search, .profile {
  color: rgb(58, 210, 136);
  flex-grow: 1;
  font-size: x-large;
  font-weight: 900;
  padding: 20px;
  text-decoration: none;
}

.favorites {
  border-left: 3px solid white;
  border-right: 3px solid white;
  color: rgb(58, 210, 136);
  flex-grow: 1;
  font-size: x-large;
  font-weight: 900;
  padding: 20px;
  text-decoration: none;
}

.profile:hover, .search:hover, .favorites:hover {
  background-color: rgb(10, 118, 79);
  color: white;
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 100px;
}

.search-text {
  border-radius: 5px;
  font-size: large;
  margin-right: 25px;
  padding: 10px;
  width: 500px;
}

.search-button {
  background-color: rgb(5, 52, 219);
  border: none;
  border-radius: 2px;
  color: white;
  width: 120px;
}

h1 {
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
}

.div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 80%;
}

.items {
  border-radius: 10px;
  box-shadow: -1px -1px 5px 0 rgba(206, 204, 204) , 1px 1px 5px 0 rgba(177, 177, 177);
  margin: 20px;
  overflow: hidden;
  width: 22%;
}

.items p {
  height: 50px;
}

.items img {
  width: 100%;
}

.trybe {
  border-radius: 15px;
  color: white;
  font-size: x-large;
  font-weight: 900;
  margin-left: 35px;
  padding: 12px;
}

.div-album {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 90%;
}

audio {
  margin: 20px;
  margin-top: 30px;
}

.check {
  margin-top: 20px;
  transform : scale(2);
}

.music {
  background-color: rgb(15, 99, 86);
  border: 3px solid rgb(10, 82, 71);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  margin: 20px;
  padding: 30px;
}

.music p {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.artist-name, .album-name {
  font-weight: 900;
  margin-top: 30px;
  width: 100%;
}

.album-name {
  margin-bottom: 7px;
}

.carregar {
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
}

.music .carregar {
  font-size: 14px;
  margin-top: 20px;
}
